:root {
  --green: #79C753;
  --red: #FF4136;
  --yellow: #F6D155;
  --gray: #AAA;
  --black: #222;
  --silver: #DDD;
  --blue: #1b98ba;
  --menta: #9acbc3;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/* @keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.title {
  font-size: 1.5em;
}


.link {
  display: block;
  color: var(--blue);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

/* .nav-bar li a:hover { */
.link:hover {
  background-color: #111111;
  color: white;
  text-decoration: none;

}

.selected
{
  background-color: #111111;
  color: var(--menta) !important;
  text-decoration: none !important;
}
