header > nav > ul.nav-bar {
  display: flex;
  /* margin: 50px; */
}


@media all and (max-width: 800px) {  

  header ul {  
    flex-wrap: wrap;  
  }  

  header ul > li {  
    flex-basis: 50%;  
  }

}

@media all and (max-width: 400px) {  
  header ul > li {  
    flex-basis: 100%;  
  }   
}

header > ul.nav-bar > li:nth-child(7) {  
  margin-left: auto;  
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

/* .nav-bar__link {
  display: block;
  color: var(--blue);
  text-align: center;
  padding: 16px;
  text-decoration: none;
} */

.nav-bar__link {
  display: block;
  color: var(--blue);
  text-align: center;
  /* padding: 16px; */
  text-decoration: none;
}


/* .nav-bar li a:hover { */
.nav-bar__link:hover {
  background-color: #111111;
  color: white;
  text-decoration: none;

}


.nav-bar__link--selected
{
  background-color: #111111;
  color: var(--menta) !important;
  text-decoration: none !important;
}