:root {
  --green: #79C753;
  --red: #FF4136;
  --yellow: #F6D155;
  --gray: #AAA;
  --black: #222;
  --silver: #DDD;
  --blue: #1b98ba;
  --menta: #9acbc3;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /* height: 150px; */
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* .nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.nav-bar li {
  float: left;
}

.nav-bar__link {
  display: block;
  color: var(--blue);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

/* .nav-bar li a:hover { */
.nav-bar__link:hover {
  background-color: #111111;
  color: white;
  text-decoration: none;

}


.nav-bar__link--selected
{
  background-color: #111111;
  color: var(--menta) !important;
  text-decoration: none !important;
} */



picture {
  width: 100%; /* stretch to fit its containing element */
  overflow: hidden;
}

picture img {
  width: 100%; /* stretch to fill the picture element */
}

picture.lazy img {
  filter: blur(20px);
}